In [39]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

import warnings
warnings.filterwarnings("ignore")
from Univariate import Univariate

dataset = pd.read_csv("kidney_disease.csv")
# dataset.dtypes
# quantitative - Numeric columns
# Qualitative - String columns
quan,qual = Univariate.quanQual(dataset)
print(f"Quantitive columns: {quan}")
print(f"Qualitative columns: {qual}")
dataset
dataset.isnull().sum()
# # dataset['salary'].fillna(0, inplace=True)
# # dataset.isnull().sum()

# Create an imputer to replace NaN values with the mean of each column
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Fit the imputer and transform the data
imputer.fit(dataset[quan])
ds = imputer.transform(dataset[quan])
df = pd.DataFrame(ds, columns= quan)
df.isnull().sum()
print("Preprocessde Data :")
df

# print(df)

Quantitive columns: ['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']
Qualitative columns: ['rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification']
Preprocessde Data :

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,15.4
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,11.3
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.627244,9.6
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.500000,11.2
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.627244,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,4.900000,15.7
396,396.0,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,3.500000,16.5
397,397.0,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,4.400000,15.8
398,398.0,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,4.900000,14.2
399,399.0,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,3.500000,15.8